.table__pagination{
    @media (max-width:767px){
       margin-top: 15px;
    }
}

.pagination{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:12px;
    .page{
        &__item{
            border: 1px solid #eee;
            border-radius: 4px;
            width: 26px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f5f5f5;
            cursor: pointer;
            transition: .5s all;
            &_active, &:hover{
                background: #5932ea;
                border-color:  #5932ea;
                .page__link{
                    color: #fff;
                }
            }
            }
            &__link{
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: -0.01em;
                color: #404b52;
            }    

        }
    .out-of-range{
      background:none;
      border:none;
      width: auto;
      height: auto;
      align-items:flex-end;
      &:hover{
        background:none;
      }
    }  
    .icon-left{
        font-family: 'fontello';
        font-style: normal;
        font-weight: normal;
        &::before{
            content: '\f104';
        }
    } 

    .icon-right{
        font-family: 'fontello';
        font-style: normal;
        font-weight: normal;
        &::before{
            content: '\f105';
        }
    } 
    }
   
